///////////////////////////////////////////////////////////////////////////////
// setup
///////////////////////////////////////////////////////////////////////////////
@import "styles/bootstrap/bootstrap";

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/roboto.ttf");
}

@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/robotoslab.ttf");
}

@sansFontFamily: "Roboto", sans-serif;
@altFontFamily: "Roboto Slab", sans-serif;

@headingsFontWeight: 400;


///////////////////////////////////////////////////////////////////////////////
// global
///////////////////////////////////////////////////////////////////////////////
h1,
h2,
h4 {
	margin: 0;
}

h1 {
	border-bottom: 1px solid @hrBorder;
	font-family: @altFontFamily;
	padding: @baseLineHeight;
}

var {
	font-family: @altFontFamily;
}

.close {
	transition: opacity 0.1s;
}

.container-fluid {
	height: (600px - 81px - (@baseLineHeight * 2));
	overflow: auto;
	padding: @baseLineHeight;
}

.row-fluid > div {
	min-height: initial !important;
}


///////////////////////////////////////////////////////////////////////////////
// directory
///////////////////////////////////////////////////////////////////////////////
.directory-item {
	border-bottom: 1px dashed transparent;
	color: @textColor;
	display: block;
	margin-top: (@baseLineHeight / 2);
	padding: (@baseLineHeight / 4) 0;
	transition: border-color 0.1s;
	
	&:hover,
	&:focus {
		border-bottom-color: @grayLight;
		color: @textColor;
		outline: 0;
	}
}

.directory-name > h4,
.directory-path > span {
	line-height: (@baseLineHeight * 1.1);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.directory-path {
	> span {
		display: inline-block;
		width: calc(~"100% - 12px -" @fluidGridGutterWidth);
	}
	
	> button {
		line-height: (@baseLineHeight * 1.1);
	}
}