///////////////////////////////////////////////////////////////////////////////
// setup
///////////////////////////////////////////////////////////////////////////////
@import "styles/bootstrap/bootstrap";

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/roboto.ttf");
}

@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/robotoslab.ttf");
}

@sansFontFamily: "Roboto", sans-serif;
@altFontFamily: "Roboto Slab", sans-serif;

@headingsFontWeight: 400;


///////////////////////////////////////////////////////////////////////////////
// global
///////////////////////////////////////////////////////////////////////////////
h1 {
	border-bottom: 1px solid @hrBorder;
	font-family: @altFontFamily;
	margin: 0;
	padding: @baseLineHeight;
}

h4 {
	margin: 0;
}

var {
	font-family: @altFontFamily;
}