///////////////////////////////////////////////////////////////////////////////
// setup
///////////////////////////////////////////////////////////////////////////////
@import "styles/bootstrap/bootstrap";

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/roboto.ttf");
}

@font-face {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: url("styles/fonts/robotoslab.ttf");
}

@sansFontFamily: "Roboto", sans-serif;
@altFontFamily: "Roboto Slab", sans-serif;

@headingsFontWeight: 400;


///////////////////////////////////////////////////////////////////////////////
// global
///////////////////////////////////////////////////////////////////////////////
a {
	transition: color 0.1s;
	
	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
	}
}

h1,
h2 {
	margin: 0;
}

h1 {
	border-bottom: 1px solid @hrBorder;
	font-family: @altFontFamily;
	padding: @baseLineHeight;
}

textarea {
	box-sizing: border-box;
	margin: 0;
	resize: none;
	width: 100%;
}

var {
	font-family: @altFontFamily;
	font-style: normal;
}

.checkbox.inline {
	box-sizing: border-box;
	height: 30px;
	margin-bottom: 10px;
}

.close {
	transition: opacity 0.1s;
}

.container-fluid {
	height: (600px - 81px - (@baseLineHeight * 2));
	overflow: auto;
	padding: @baseLineHeight;
}

.help-block {
	text-align: justify;
}

.label {
	font-weight: 400;
}

.row-fluid > div {
	min-height: initial !important;
}

#file-create,
#file-browse {
	display: none;
}


///////////////////////////////////////////////////////////////////////////////
// list
///////////////////////////////////////////////////////////////////////////////
.directory-item {
	border-bottom: 1px dashed transparent;
	color: @textColor;
	display: block;
	margin-top: (@baseLineHeight / 2);
	padding: (@baseLineHeight / 4) 0;
	transition: border-color 0.1s;
	
	&:hover,
	&:focus {
		border-bottom-color: @grayLight;
		color: @textColor;
		outline: 0;
		
		> .directory-item-path > button {
			.close();
		}
	}
}

.directory-item-name > h4,
.directory-item-path > span {
	line-height: (@baseLineHeight * 1.1);
	margin: 0;
	.text-overflow();
}

.directory-item-path {
	> span {
		display: inline-block;
		width: ~"calc(100% - 12px - @{fluidGridGutterWidth})";
	}
	
	> button {
		line-height: (@baseLineHeight * 1.1);
		opacity: 0;
	}
}


///////////////////////////////////////////////////////////////////////////////
// item
///////////////////////////////////////////////////////////////////////////////
#directory-contacts {
	height: 139px;
	overflow: auto;
}

#directory-send {
	height: 40px;
}